@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');


body{
  min-height: 100vh;
  background-image: linear-gradient(to right bottom,#25c3f3,#ec12c8);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
button{
  padding: 10px 25px;
  background: rgba(255, 255, 255,0.1);
  cursor: pointer;
transition: all .3s;
border-radius: 10px;
border: 2px solid #000;
position: absolute;
bottom: 20px;
right: 100px;
}
button:hover{
  /* background: rgba(255, 255, 255,0.9); */
  background-image: linear-gradient(to right bottom,rgba(37, 195, 243, 0.418),rgba(236, 18, 200, 0.363)) ;
}
.container{
  background: rgba(255, 255, 255, 0.3);
  height: 275px;
  width: 700px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, .5);
  position: relative;

}
#output{
  font-size: 27px;
  text-align: center;
}
mymentor{
  font-size: 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-family: "Edu AU VIC WA NT Pre", serif;
}